<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/cover"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cover"
        android:supportsRtl="true"
        android:theme="@style/Theme.NiHaoChina" >
        <activity
            android:name=".EnterPageActivity_Spring"
            android:exported="false" />
        <activity
            android:name=".EnterPageActivity_Winter"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".IntroPageActivity"
            android:exported="false"
            android:launchMode="standard" />
    </application>

</manifest>